[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
rospkg = "*"
opencv-python = "*"
torch = "*"
pillow = "*"
torchvision = "*"
scipy = "*"
matplotlib = "*"

[requires]
python_version = "32.7.12"
